@import "tailwindcss";

:root {
  --navbar-height: 3.5rem;
  --main-height: calc(100vh - var(--navbar-height));
}

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-light-theme: #f5f0e6;
  --color-dark-theme: #0e100f;

  --color-light-green: #e7edde;
  --color-medium-green: #c7e0ad;
  --color-forrest-green: #54624c;
  --color-dark-green: #234823;
  --color-plant-card: #f4dbcd;
}

@keyframes parallax {
  to {
    transform: translateY(35vh);
  }
}
@keyframes scale-half {
  from {
    transform: scale(0.5);
  }
}

@keyframes fade-in-out {
  from {
    opacity: 0.5;
  }
}
[data-animated="parallax"] {
  animation: parallax linear both;
  animation-timeline: scroll();
}

[data-animated="box"] {
  animation:
    scale-half 1s linear both,
    fade-in-out 1s linear both;
  animation-timeline: view();
  animation-range: 0% 40%;
}
